body {
    font-family: helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: white;
    
    background-color: red;
}

header{
    position: fixed;
    top: 20px;
    left: 20px;
}

h1{
    font-size: 24px;
    font-weight: 700;
}

footer{
    position: fixed;
    bottom: 30px;
    right: 20px;
}


a{
    color:white;
    text-decoration: none;
    margin: 0px 10px 0px 0px;
    transition: all .5s;
    
}

a:hover{
    color:aqua;
}




section{
    height: 100vh;
    background-color: blue;
    background-image: url(michael-1.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

section.mike-2 {
    background-image: url(michael-2.jpeg);
}

section.mike-3 {
    background-image: url(michael-3.jpeg);
}
section.mike-4 {
    background-image: url(michael-4.jpeg);
}



@media (max-width: 600px) {
    header {
        top:10px;
    }
    
    footer {
        bottom: 10px;
        left: 10px
    }
    section {
        background-attachment: scroll;
    }
}